.navcontainer {
    display: flex;
    flex-direction: row;
    background-color: #2660A4;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
}

.hamburger {
    flex-direction: row;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
}

.name {
    font-size: large;
    margin-right: 1em;
    color: #EDF7F6;
}

.hamburger:hover{
    padding: 20px;
    background-color: #EDF7F6;
    transition: 0.5s;
    filter: drop-shadow(0 0 0.75rem #5e391d);
    cursor: pointer;
}

.profilewrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
    border-radius: 10px;
}

.profilewrapper:hover{
    padding:20px;
    background-color: #EDF7F6;
    transition: 0.5s;
    filter: drop-shadow(0 0 0.75rem #5e391d);
    cursor: pointer;
}

.profilewrapper:hover h2{
    color: #F19953;
}

.navigation ul li {
    list-style-type: none;
    padding-top: 20px;
    margin: 0;
    font-size: large;
    color: #EDF7F6;
    transition: 0.2s;
}

.navigation ul li:hover {
    list-style-type: none;
    padding: 20px;
    font-size: xx-large;
    color: #F19953;
    transition: 0.2s;
    cursor: pointer;
}

.profilepicture i {
    color: #F19953;
    transition: 0.5s;
}

.profilepicture i:hover {
    color: #C47335;
    transition: 0.5s;
}

.hamburgerlistwrapper {
    height: 100%;
    background-color: #123155;
    margin: 0;
    width: 20%;
}