.navcontainer {
    display: flex;
    flex-direction: row;
    background-color: #2660A4;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    align-items: center;
    padding-right: 20px;
}

.hamburger {
    flex-direction: row;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
    margin-left: 1em;
}

.name {
    font-size: large;
    margin-right: 1em;
    color: #EDF7F6;
    transition: 1s;
}

.name:hover {
    transform: scale(50%) rotate(720deg);
    transition: 3s;
}

.hamburger:hover{
    background-color: #EDF7F6;
    transition: 0.5s;
    filter: drop-shadow(0 0 0.75rem #5e391d);
    cursor: pointer;
}

.profilewrapper{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
    border-radius: 10px;
    margin-right: 1em;
}

.profilewrapper:hover{
    background-color: #EDF7F6;
    transition: 0.5s;
    filter: drop-shadow(0 0 0.75rem #5e391d);
    cursor: pointer;
}

.profilewrapper:hover h2{
    color: #F19953;
}

.navigation ul li {
    list-style-type: none;
    padding-top: 20px;
    margin: 0;
    font-size: 1em;
    color: #EDF7F6;
    transition: 0.2s;
}

.navigation ul li:hover {
    list-style-type: none;
    padding: 10px;
    font-size: 1.5em;
    color: #F19953;
    transition: 0.2s;
    cursor: pointer;
}

.profilepicture i {
    color: #F19953;
    transition: 0.5s;
}

.profilepicture i:hover {
    color: #C47335;
    transition: 0.5s;
}

.profilepicture img:hover {
    transform: rotate(360deg);
    transition: 1s;
}

.profilepicture img {
    transition: 1s;
}

.navtitle {
    padding: 20px;
}