.cardcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.accordiongrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em
}

.filterwrapper img{
    margin: 1em;
    width: 70px;
    transition: 0.2s;
    padding-bottom: 10px;
}

.filterwrapper img:hover{
    transition: 0.2s;
    cursor: pointer;
    filter: drop-shadow(0 0 0.1rem blue);
}

.workoutsetswrapper {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1em;
}