.cardcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.cards {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    margin-top: 1em;
    position: relative;
    z-index: 1;
}

.card {
    display: flex;
    margin: .5em;
    padding: 1.5em;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.card:hover {
    background-color: #ffc99d;
    cursor: pointer;
    transition: 0.3s;
}

.card p {
    font-style: italic;
}